@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #f7f4f1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #595e60;
}